# copy this file and rename it to .env
# then fill in the appropriate values

# Some project tests depend on Redis or Upstash Redis.
# You can create a free Redis instance on Upstash and add its connection details here.
REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=